{% extends 'base.html.twig' %}
{% block body %}
    <h2>{{ wish.title }} [{{ wish.category.name }}]</h2>
    <p class="wish-credit">Created by {{ wish.author }} on {{ wish.dateCreated|date('Y-m-d') }}</p>
    <div>{{ wish.description|nl2br }}</div>
{% endblock %}

{% block title %}Titre de l'idée ici ! | {{ parent() }}{% endblock %}