<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
    <header>
        <header>
            <div class="container">
                <div class="header-top">
                    <h1 class="header-logo">
                        <a href="{{ path('main_home') }}" title="Go back to homepage">
                            <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List Logo">Bucket-List
                        </a>
                    </h1>
                    <nav class="user-nav">
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" title="Logout">Logout ||Hello {{ app.user.userIdentifier }}||</a>
                        {% else %}
                            <a href="{{ path('app_register') }}" title="Create your account">Register</a>
                            <a href="{{ path('app_login') }}" title="Login">Login</a>
                        {% endif %}
                    </nav>
                </div>
                <nav class="header-nav">
                    <a href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
                    <a href="{{ path('wish_list') }}" title="All things to do">All wishes</a>
                    {% if app.user %}
                        <a href="{{ path('wish_create') }}" title="Add your own ideas!">Add yours!</a>
                    {% endif %}
                    <a href="{{ path('main_about_us') }}" title="About us">About us</a>
                </nav>
            </div>
        </header>
    </header>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            © Bucket-List {{ "now"|date("Y") }}
        </div>
    </footer>
</body>
</html>